[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
selenium = "==4.18.1"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
